nav {
  font-weight: bold;
  letter-spacing: 0.025em;
  text-align: left;
  height: 3em;
}
nav ul {
  margin: 0;
}

a {
  margin-top: 10px;
  color: white;
  font-size: 32px;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  color:#3498db;
}
